body{
    box-sizing:border-box;
    padding:0;
    margin:0;
    color:#7D8E9B;
    font-family:"Source Sans Pro",sans-serif;
}
#calendar-wrap{

}

#calendar{
    margin: 0 auto;
    margin-top:20px;
    width:100%;
    width: 498px;
    box-sizing:border-box;
    -webkit-user-select:none;-moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    box-shadow: 0px 5px 10px rgba(125,142,155,0.15)!important;
    border-radius: 5px;padding:20px;
}

.calendar__head {
    padding: 0 8px;
    min-width:100%;
    height:21%;
    text-align:center;
    box-sizing:border-box;
    cursor:default
}

.calendar__nav{
    padding: 10px 15px;
    margin-bottom: 20px;
    display:flex;
    justify-content:flex-end;
    -ms-align-items:center;
    align-items:center;
}

.calendar__head-text{
    width:100%;
    text-align:left;
    margin-left:8px;
    font-weight:600
}

.calendar__arrow{
    cursor:pointer
}

.calendar__head-days{
    width:100%;
    text-decoration:none
}

.calendar__head-days-item{
    font-weight:600;
    width:42px;
    position:relative
}

.calendar__head-days-item:last-child:after {
    display:none
}

.calendar__body{
    width:100%;
    height:79%;
    border-spacing:18px 5px;
    padding:3px 0;
    text-align:center
}

.calendar-cell{
    margin-left: 10px;
    cursor: pointer;
    transition: box-shadow .22s ease-in;
    width: 42px;
    height: 42px;
    border-radius: 100%;}
.calendar-cell:hover{
    background:#ECEEF0;
}

.calendar-cell-selected{
    background:#F16621!important;
    color:white!important;
}
.calendar-cell-gray{
    opacity:0.3;
    cursor:default
}
.calendar-cell-gray:hover{
    background:white;
}

.calendar__arrow-right{margin-left:20px;}
