@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face{
    font-family: 'Circular';
    src: url('../CircularStd-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

body *,
body *:before,
body *:after{
    box-sizing: inherit;
}

/*


GUI


 */

h1, h2{
    font-family: Circular, sans-serif;
    font-size: 24px;
}
h1{
    background: linear-gradient(to right, #ed4c2e 0%,#f79c47 100%);
    color: white;
}
h2{
    color: #F59E30
}
h3{
    font-family: Circular, sans-serif;
    color: #7D8E9B;
    font-size: 20px;
    padding-top: 8px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #7D8E9B;
}

.demarche input[type='checkbox']{
    display: none;
}

.btn-parti{
    display: block;
    text-align: center;
    font-family: Circular, sans-serif;
    font-size: 14px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #F16621;
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 rgba(231, 62, 20, 0.2);
    border: 0 solid transparent;
}
.btn-parti:hover{
    display: block;
    text-align: center;
    font-family: Circular, sans-serif;
    font-size: 14px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #F16621;
    background: #FFFFFF;
    border-radius: 25px;
    border: 1.5px solid #F16621;
    box-shadow: none;
}

.btn-disable{
    display: block;
    text-align: center;
    font-family: Circular, sans-serif;
    font-size: 14px;
    width: 160px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #F16621;
    background: #FFFFFF;
    border-radius: 25px;
    border: 1.5px solid #F16621;
}


.btn-input{
    border-radius: 100%;
    height: 45px;
    background: #00ADE9;
    width: 45px;
    color: #FFFFFF;
    font-size: 14px;
    position: relative;
    border: 0 solid transparent;
}

.btn-explication{
    font-family: Circular, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 160px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F59E30;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}

.switcher{
    width: 101px;
    height: 26px;
    display: inline-block;
    position: relative;
}

.switcher .check{
    width: 101px;
    height: 26px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    outline: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.switcher .btn{
    background: #31D6B1;
    width: 101px;
    height: 26px;
    border-radius: 14px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.switcher .btn:before, .switcher .btn:after {
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.switcher .btn:before {
    content: "Ajouté";
    right: 30px;
    font-size: 12px;
    opacity: 100;
    font-weight: bold;
    font-family: Circular, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.switcher .btn:after {
    content: "Ajouter";
    left: 30px;
    font-size: 12px;
    opacity: 0;
    font-weight: bold;
    font-family: Circular, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.rond{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: url("../img/svg/check.svg") #FFFFFF;
    overflow: hidden;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.check:checked + .btn{
    background-color: #F59E30;
}
.check:checked + .btn:before {
    opacity: 0;
}

.check:checked + .btn:after {
    opacity: 100;
}
.check:checked + .btn .rond {
    background: url("../img/svg/plus.svg") #FFFFFF;
    right: 77px;
}

#btn2{
    font-size: 12px;
    margin: 0 auto;
    line-height: 26px;
    color: white;
    padding-left: 20px;
}

.label-premium{
    font-family: Circular, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #00ADE9;
    height: 19px;
    line-height: 19px;
    border-radius: 2px;
    position: absolute;
    padding: 2px 7px;
    top: 0;
    right: 0;
    margin: 5px;
}

.label-nouveaute{
    font-family: Circular, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #FED233;
    height: 19px;
    line-height: 19px;
    border-radius: 2px;
    position: absolute;
    padding: 2px 7px;
    top: 0;
    right: 0;
    margin: 5px;
}

.label-warrior{
    font-family: Circular, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #31D6B1;
    height: 19px;
    line-height: 19px;
    border-radius: 2px;
    position: absolute;
    padding: 2px 7px;
    top: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;
}

.label-collector{
    font-family: Circular, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #B156FF;
    height: 19px;
    line-height: 19px;
    border-radius: 2px;
    position: absolute;
    padding: 2px 7px;
    top: 0;
    right: 0;
    margin: 5px;
}


/*


PREMIERE SECTION


*/

.popup{
    position: fixed;
    top: 0;
    width: 100%;
    height:100%;
    z-index: 2;
    background: rgba(0,0,0, 0.3);
    display: none;
}
.popup .info{
    width: 100vh;
}

.popup h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.popup .info__left{
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info__right img {
    margin: 54px 50px 54px 62px;
    width: 226px;
    height: 226px;
    position: absolute;
    top: 0;
}

.container{
    background: linear-gradient(to right, #ed4c2e 0%,#f79c47 100%);
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

#logo{
    margin: auto;
    display: inline-block;
    padding: 25px 0;
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 140px;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.container p{
    position: absolute;
    margin: 25px auto;
    display: inline-block;
    top: 50%;
    left: 0;
    right: 0;
    font-family: Circular, sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
;
}

.container span{
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2;
    text-align: center;
}

#scroll{
    display: inline-block;
    width: 4em;
    height: 4em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 45px;
}

@-webkit-keyframes bounce {
    0% { bottom: 18%; }
    50%   { bottom: 20%; }
    100% { bottom: 18%; }
}

@keyframes bounce {
    0% { bottom: 18%; }
    50%   { bottom: 20%; }
    100% { bottom: 18%; }
}

#scroll:after{
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    width: 19px;
    height: 19px;
    border-top: 0.2em solid white;
    border-right: 0.2em solid white;
    transform: rotate(135deg);
}


a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

/*


SECTION COMPOSITION


 */

.compound{
    background: white;
    width: 100%;
    transform: translateX(0);
}

/*


SCROLL INDICATOR


*/

.breadcrum{
    height: 71px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 50px;
    background: #FFFFFF;
}

.flames{
    margin: 0 auto;
    width: 318px;
    height: 3px;
    background: #F2F3F5;
    position: relative;
    top: 50%;
    bottom: 50%;
    right: 0;
    left: 0;
    list-style: none;
    display: flex;
}

.flames li{
    flex: 1;
    position: relative;
    background: linear-gradient(to right, #ed4c2e 0%,#f79c47 100%);
}

.flames li:first-of-type{
    width: 0;
    flex: 0;
}

.flames li:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 1rem;
    height: 1rem;
    background: url("../img/svg/feu.svg") 0 0 /contain no-repeat;
    z-index: 1;
}

.flames li.active ~ li{
    background: #F2F3F5;
}

.flames li.active ~ li:after {
    filter: grayscale(100%);
}

/*


 DIVISION CATEGORIE


 */

.categorie{
    height: 100%;
}
.categorie h2{
    margin-left: 100px;
}
#sous-text{
    margin-left: 100px;
    margin-bottom: 40px;
}
.categorie img{
    padding-right: 20px;
}
#icon-handicap{
    margin-left: 100px;
    display: flex;
    margin-bottom: 27px;
}
#carousel, #carousel2, #carousel3, #carousel4, #carousel5{
    margin-left: 100px;
}


.item-image{
    position: relative;
    width: 150px;
}

.prenom{
    display: none;
}

.item-image img{
    padding: 0;
    background-color: rgba(125, 142, 155, 0.1);
    border-radius: 5px;
}

.item-body{
    margin-top: 10px;
    width: 150px;
    text-align: center;
}

.item-description{
    margin: 15px auto;
}

#carousel, #carousel2, #carousel3, #carousel4, #carousel5{
    overflow-x: hidden;
}

.carousel{
    position: relative;
}

.carousel-container{
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel-container::after{
    content: '';
    clear: both;
    display: table;
}

.carousel-item{
    float: left;
}

.slick-next{
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../img/svg/next.svg') center center no-repeat;
    background-size: 20px 20px;
    top: 30%;
    margin-top: -20px;
    z-index: 1;
    right: 0;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.slick-prev{
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../img/svg/back.svg') center center no-repeat;
    background-size: 20px 20px;
    top: 30%;
    margin-top: -20px;
    z-index: 1;
    right: auto;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}


.suivant{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 146px;
}

.appear{
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    z-index: 2;
    background: rgba(13,41,62, 0.5);
    display: none;
}

.appear img{
    padding-right: 0;
}

.info{
    width: 596px;
    height: 334px;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: sticky;
    position: -webkit-sticky;
    top: 10%;
    right: 0;
    left: 0;
    margin: auto;
}

#arrow{
    width: 40px;
    margin: 34px 0 0 26px;
    cursor: pointer;
    padding-right: 20px;
}

#info__right img{
    margin: 54px 50px 54px 62px;
    width: 226px;
    height: 226px;
    position: absolute;
    top: 0;
    background-color: rgba(125, 142, 155, 0.1);
    border-radius: 5px;
}
#info__left{
    float: right;
    width: 45%;
    height: 100%;
}
 #info__label .label-warrior, #info__label .label-premium{
    top: 30%;
    right: 34%;
    margin: 12px 0;
}

#info__label .label-nouveaute, #info__label .label-collector{
    top: 30%;
    right: 31%;
    margin: 12px 0;
}

.item-description img, .item-description .info-qualite{
    display: none;
}

.info__categorie{
    position: absolute;
    top: 45%;
}

.info__qualite{
    position: absolute;
    margin-left: 80px;
    top: 45%;
}

.moda-btn{
    position: absolute;
    right: 16%;
    bottom: 15%;
}

.info__categorie p, .info__qualite p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #0D293E;
    margin-bottom: 10px;
}

/*


CALENDRIER


*/

.calendrier {
    height: 90vh;
    display: none;
}


#calendar-wrap{

}

#calendar{
    font-family:"Source Sans Pro",sans-serif;
    margin: 0 auto;
    margin-top:20px;
    width:100%;
    width:498px;
    box-sizing:border-box;
    -webkit-user-select:none;-moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    box-shadow: 0px 5px 10px rgba(125,142,155,0.15)!important;
    border-radius: 5px;padding:20px;
    color: #7D8E9B;
}

.calendar__head {
    padding: 0 8px;
    min-width:100%;
    height:21%;
    text-align:center;
    box-sizing:border-box;
    cursor:default
}

.calendar__nav{
    padding: 10px 15px;
    margin-bottom: 20px;
    display:flex;
    justify-content:flex-end;
    -ms-align-items:center;
    align-items:center;
}

.calendar__head-text{
    width:100%;
    text-align:left;
    margin-left:8px;
    font-weight:600
}

.calendar__arrow{
    cursor:pointer
}

.calendar__head-days{
    width:100%;
    text-decoration:none
}

.calendar__head-days-item{
    font-weight:600;
    width:42px;
    position:relative
}

.calendar__head-days-item:last-child:after {
    display:none
}

.calendar__body{
    width:100%;
    height:79%;
    border-spacing:18px 5px;
    padding:3px 0;
    text-align:center
}

.calendar-cell{
    margin-left: 10px;
    cursor: pointer;
    transition: box-shadow .22s ease-in;
    width: 42px;
    height: 42px;
    border-radius: 100%;}
.calendar-cell:hover{
    background:#ECEEF0;
}

.calendar-cell-selected{
    background:#F16621!important;
    color:white!important;
}
.calendar-cell-gray{
    opacity:0.3;
    cursor:default
}
.calendar-cell-gray:hover{
    background:white;
}

.calendar__arrow-right{margin-left:20px;}


/*


VIDEO


*/

.video{
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}
.player{
    width: 1034px;
    height: 585px;
    background-color: #0D293E;
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    width: inherit;
    display: none;
}

.btn-play{
    width: 74px;
    height: 74px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.btn-play img{
    width: 60px;
    margin-top: 17px;
    margin-left: 20px;

}

/*


SECTION DEMARCHE


*/

.demarche{
    width: 100%;
    display: none;
}


#illuAnim {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 2000px;
    background: white;
}
#stickyImg {
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}
.bulleAnim {
    width: 400px;
    position: absolute;
}
.test {
    width: 100%;
    height: 100vh;
    background: black;
}
.bulleLeft {
    left: 50px;
}
.bulleRight {
    right: 50px;
}
.vide {
    height: 230px;
}
#illustration{
    width: 700px;
}
@media screen and (max-width: 700px) {
    #illustration {
        width: 350px;
    }
    .bulleAnim {
        width: 100%;
    }
    .bulleLeft, .bulleRight {
        left: 0;
        right: 0;
    }
}

.like div{
    width: 376px;
    margin: 111px auto 0;
}

.like{
    height: 50%;
    width: 100%;
    text-align: center;
    margin-bottom: 103px;
}

.like h1{
    font-family: Circular, sans-serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 2.8px;
    height: 92px;
    line-height: 92px;
    border-radius: 5px;
    background: #0D293E;
}

#like{
    font-family: Circular, sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 274px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F16621;
    box-shadow: 0 5px 10px 0 rgba(231, 62, 20, 0.2);
    border-radius: 25px;
    border: 0 solid transparent;
    cursor: pointer;
    margin-top: 56px;
}

#like:hover{
    box-shadow: none;
    border: 1.5px solid #F16621;
    color: #F16621;
    background-color: #FFFFFF;
}

.compteur{
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

.wrap-slump{
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 99%;
    margin: 0 7px;
}

.slump-lbl-toggle{
    height: 35px;
    display: block;
    line-height: 35px;
    font-family: Circular, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background: #0D293E;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.slump-lbl-toggle::before{
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    width: 8px;
    height: 8px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(-45deg);
    margin-right: 0.7rem;
}

.slump-content .slump-inner{
    background: #0D293E;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slump-inner{
    overflow: auto;
}

.slump-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    position: relative;
}

.slump-toggle:checked + .slump-lbl-toggle + .slump-content{
    max-height: 466px;
}

.slump-toggle:checked + .slump-lbl-toggle::before{
    transform: rotate(135deg) translateX(-3px);
}

.slump-toggle:checked + .slump-lbl-toggle{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.slump-inner img{
    display: block;
    margin: 0 44px 72px auto;
    width: 318px;
    height: 297px;
    float: left;
}

.slump-inner p{
    display: block;
    color: #FFFFFF;
    width: 50%;
    margin-top: 27px;
}

/*


FOOTER


*/

footer{
    width: 100%;
    height: 328px;
    background: linear-gradient(76deg, #ed4c2e 0%,#f79c47 100%);
    display: none;
    align-items: center;
    justify-content: center;
}

footer a{
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 25px;
}

.left{
    margin: auto 5%;
    text-align: center;
}

.left p, .right p{
    color: #FFFFFF;
    font-size: 16px;
}

.news{
    margin-top: 29px;
}

.mail{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #7D8E9B;
    padding-left: 22px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 343px;
    height: 40px;
    border: 0 solid transparent;
}

footer .btn-input{
    width: 32px;
    height: 32px;
    top: 9px;
    right: 42px;
}

.btn-input:after{
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 8px;
    right: 8px;
    background: url("../img/svg/right-arrow.svg") 0 0 /contain  no-repeat;
}

.right{
    margin: auto 5%;
    text-align: center;
}

.social .fa{
    width: 9px;
    height: 17px;
    color: #FFFFFF;
    margin: 15px 15px 30px;
}

.btn-question{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 40px;
    width: 164px;
    height: 40px;
    color: #F16621;
    background: #FFFFFF;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: 33px;
}

.btn-question:hover{
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFFFFF;
}

.response{
    position: absolute;
    top: 50px;
    width: 45vh;
    right: 0;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
}

.response a{
    color: #0D293E;
}

/*


CONTACT



*/

#form{
    float: left;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#color{
    float: right;
    height: 100vh;
    width: 50%;
    background: #F59E30;
}
#color img{
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
    margin: auto;
}
#form input{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #7D8E9B;
    background: transparent;
    border: none;
    border-bottom: 1px solid#0D293E;
    width: 318px;
    padding-bottom: 10px;
    margin-bottom: 60px;
}
textarea{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #7D8E9B;
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid#0D293E;
    width: 318px;
    margin-bottom: 54px;
}

#form button{
    float: right;
}

#form button:after{
    top: 14px;
    right: 14px;
}

#mention{
    float: left;
    min-height: 100vh;
    margin: 50px;

}

#mention h1{
    font-family: Circular,sans-serif;
    font-size: 20px;
    color: #F59E30;
    font-weight: bold;
    margin-bottom: 25px;
    background: none;
}

#mention a{
    color: #F59E30;
}

#form p{
    font-family: Circular,sans-serif;
    font-size: 20px;
    color: #0D293E;
    font-weight: bold;
    margin-bottom: 50px;
}

#mc_embed_signup_scroll{
    position: relative;
}

.clear{
    position: relative;
    bottom: 45px;
    left: 35px;
    float: right;
}

/*


MEDIA QUERY


*/

@media (min-width: 321px) and (max-width: 360px)
{
    body{
        overflow-x: hidden;
    }

    #logo{
        margin: 135px auto;
        width: 159px;
    }

    .container p {
        top: 45%;
        font-size: 20px;
    }

    #carousel, #carousel2, #carousel3, #carousel4, #carousel5, .categorie h2, #sous-text, #icon-handicap{
        margin-left: 20px;
    }

    .info{
        width: 100%;
        height: 103vh;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .modal-description{
        width: 260px;
    }

    #info__left{
        width: 60%;
    }

    #info__right img{
        position: unset;
        margin: 54px 50px 0 62px;
    }

    #info__label .label-warrior, #info__label .label-premium{
        top: 60%;
        right: 61%;
    }
    #info__label .label-nouveaute, #info__label .label-collector{
        right: 57%;
        top: 60%;
    }

    .info__categorie, .info__qualite{
        top: 68%;
    }

    #arrow{
        align-self: baseline;
    }

    .moda-btn{
        left: 7px;
        bottom: 4%;
    }

    .moda-btn .switcher{
        width: 345px;
        height: 53px;
        display: inline-block;
        position: relative;
    }

    .moda-btn .switcher .check{
        width: 345px;
        height: 53px;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        outline: 0;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .moda-btn .switcher .btn{
        background: #31D6B1;
        width: 345px;
        height: 53px;
        border-radius: 43px;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    .moda-btn .switcher .btn:before, .moda-btn .switcher .btn:after {
        font-family: sans-serif;
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .moda-btn .switcher .btn:before {
        content: "Ajouté";
        right: 42%;
        font-size: 16px;
        opacity: 100;
        font-weight: bold;
        font-family: Circular, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .moda-btn .switcher .btn:after {
        content: "Ajouter";
        left: 42%;
        font-size: 16px;
        opacity: 0;
        font-weight: bold;
        font-family: Circular, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .moda-btn .rond{
        width: 48px;
        height: 45px;
        border-radius: 50%;
        background: url("../img/svg/check.svg") #FFFFFF no-repeat center;
        overflow: hidden;
        position: absolute;
        top: 4px;
        right: 2px;
        z-index: 1;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .moda-btn .check:checked + .btn{
        background-color: #F59E30;
    }
    .moda-btn .check:checked + .btn:before {
        opacity: 0;
    }

    .moda-btn .check:checked + .btn:after {
        opacity: 100;
    }
    .moda-btn .check:checked + .btn .rond {
        background: url("../img/svg/plus.svg") #FFFFFF no-repeat center;
        left: 4px;
    }

    #sous-text{
        margin-bottom: 40px;
    }

    #calendar{
        width: 339px;
    }

    #calendar img{
        padding-right: 0;
    }

    .player{
        width: 480px;
        height: 270px;
    }

    footer{
        height: 424px;
        flex-direction: column;
    }

    .wrap-slump{
        margin: 0 auto;
    }

    .slump-content{
        overflow-y: scroll;
    }

    .slump-inner img {
        margin: 0;
        width: 225px;
    }

    .clear{
        left: 0;
    }

    #form {
        height: 75vh;
        width: unset;
        float: none;
    }

    .left{
        margin: auto;
    }

    #color {
        height: 25vh;
        width: 100%;
        position: relative;
    }

    #color img{
        left: 0;
        right: 0;
        bottom: 0;
        top: unset;
        width: 125px;
        margin: auto;
    }

    .like div{
        width: 338px;
    }

    footer .btn-input{
        right: 5px;
    }
}

@media (max-width: 320px)
{
    body{
        overflow-x: hidden;
    }

    #logo{
        margin: 135px auto;
        width: 100px;
    }

    .flames{
        width: 290px;
    }

    .container p {
        top: 45%;
        font-size: 20px;
    }

    #carousel, #carousel2, #carousel3, #carousel4, #carousel5, .categorie h2, #sous-text, #icon-handicap{
        margin-left: 20px;
    }

    #info__left{
        width: 72%;
    }
    .modal-description{
        width: 265px;
    }

    .info{
        width: 100%;
        height: 103vh;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #info__right img{
        position: unset;
        margin: 0;
    }

    #info__label .label-warrior, #info__label .label-premium{
        top: 59%;
        right: 65%;
    }
    #info__label .label-nouveaute{
        right: 59%;
        top: 59%;
    }

    #info__label .label-collector{
        top: 59%;
        right: 60%;
    }

    .info__categorie, .info__qualite{
        top: 66%;
    }

    #arrow{
        align-self: baseline;
    }

    .moda-btn{
        left: 7px;
        bottom: 4%;
    }

    .moda-btn .switcher{
        width: 300px;
        height: 53px;
        display: inline-block;
        position: relative;
    }

    .moda-btn .switcher .check{
        width: 300px;
        height: 53px;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        outline: 0;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .moda-btn .switcher .btn{
        background: #31D6B1;
        width: 300px;
        height: 53px;
        border-radius: 43px;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    .moda-btn .switcher .btn:before, .moda-btn .switcher .btn:after {
        font-family: sans-serif;
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .moda-btn .switcher .btn:before {
        content: "Ajouté";
        right: 42%;
        font-size: 16px;
        opacity: 100;
        font-weight: bold;
        font-family: Circular, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .moda-btn .switcher .btn:after {
        content: "Ajouter";
        left: 42%;
        font-size: 16px;
        opacity: 0;
        font-weight: bold;
        font-family: Circular, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .moda-btn .rond{
        width: 48px;
        height: 45px;
        border-radius: 50%;
        background: url("../img/svg/check.svg") #FFFFFF no-repeat center;
        overflow: hidden;
        position: absolute;
        top: 4px;
        right: 2px;
        z-index: 1;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .moda-btn .check:checked + .btn{
        background-color: #F59E30;
    }
    .moda-btn .check:checked + .btn:before {
        opacity: 0;
    }

    .moda-btn .check:checked + .btn:after {
        opacity: 100;
    }
    .moda-btn .check:checked + .btn .rond {
        background: url("../img/svg/plus.svg") #FFFFFF no-repeat center;
        left: 4px;
    }

    #sous-text{
        margin-bottom: 40px;
    }

    #calendar{
        width: 315px;
        padding: 0;
    }

    #calendar img{
        padding-right: 0;
    }

    .player{
        width: 480px;
        height: 270px;
    }

    footer{
        height: 424px;
        flex-direction: column;
    }

    footer .btn-input{
        right: 5px;
    }

    .slump-inner img{
        margin: 0;
        width: 200px;
    }

    .clear{
        left: 0;
    }

    .mail{
        width: 310px;
    }

    .wrap-slump{
        margin: 0 auto;
    }

    .slump-content{
        overflow-y: scroll;
    }

    #form {
        height: 85vh;
        width: unset;
        float: none;
    }

    #color {
        height: 25vh;
        width: 100%;
        position: relative;
    }

    #color img{
        left: 0;
        right: 0;
        bottom: 0;
        top: unset;
        width: 110px;
        margin: auto;
    }
}

@media (max-width: 375px) and (min-width: 361px)
{
    body{
        overflow-x: hidden;
    }

    #logo{
        margin: 135px auto;
        width: 100px;
    }

    .flames{
        width: 290px;
    }

    .container p {
        top: 45%;
        font-size: 20px;
    }

    #carousel, #carousel2, #carousel3, #carousel4, #carousel5, .categorie h2, #sous-text, #icon-handicap{
        margin-left: 20px;
    }

    #info__left{
        width: 55%;
    }

    .info{
        width: 100%;
        height: 103vh;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #info__right img{
        position: unset;
        margin: 0;
    }

    #info__label .label-warrior, #info__label .label-premium{
        top: 50%;
        right: 60%;
    }
    #info__label .label-nouveaute{
        right: 55%;
        top: 50%;
    }

    #info__label .label-collector{
        top: 51%;
        right: 55%;
    }

    .info__categorie, .info__qualite{
        top: 60%;
    }

    #arrow{
        align-self: baseline;
    }

    .moda-btn{
        left: 7px;
        bottom: 4%;
    }

    .moda-btn .switcher{
        width: 360px;
        height: 53px;
        display: inline-block;
        position: relative;
    }

    .moda-btn .switcher .check{
        width: 360px;
        height: 53px;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        outline: 0;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .moda-btn .switcher .btn{
        background: #31D6B1;
        width: 360px;
        height: 53px;
        border-radius: 43px;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    .moda-btn .switcher .btn:before, .moda-btn .switcher .btn:after {
        font-family: sans-serif;
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .moda-btn .switcher .btn:before {
        content: "Ajouté";
        right: 42%;
        font-size: 16px;
        opacity: 100;
        font-weight: bold;
        font-family: Circular, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .moda-btn .switcher .btn:after {
        content: "Ajouter";
        left: 42%;
        font-size: 16px;
        opacity: 0;
        font-weight: bold;
        font-family: Circular, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .moda-btn .rond{
        width: 48px;
        height: 45px;
        border-radius: 50%;
        background: url("../img/svg/check.svg") #FFFFFF no-repeat center;
        overflow: hidden;
        position: absolute;
        top: 4px;
        right: 2px;
        z-index: 1;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .moda-btn .check:checked + .btn{
        background-color: #F59E30;
    }
    .moda-btn .check:checked + .btn:before {
        opacity: 0;
    }

    .moda-btn .check:checked + .btn:after {
        opacity: 100;
    }
    .moda-btn .check:checked + .btn .rond {
        background: url("../img/svg/plus.svg") #FFFFFF no-repeat center;
        left: 4px;
    }

    #sous-text{
        margin-bottom: 40px;
    }

    #calendar{
        width: 315px;
        padding: 0;
    }

    #calendar img{
        padding-right: 0;
    }

    .player{
        width: 480px;
        height: 270px;
    }

    footer{
        height: 424px;
        flex-direction: column;
    }

    footer .btn-input{
        right: 5px;
    }

    .slump-inner img{
        margin: 0;
        width: 200px;
    }

    .clear{
        left: 0;
    }

    .mail{
        width: 310px;
    }

    .wrap-slump{
        margin: 0 auto;
    }

    .slump-content{
        overflow-y: scroll;
    }

    #form {
        height: 75vh;
        width: unset;
        float: none;
    }

    #color {
        height: 25vh;
        width: 100%;
        position: relative;
    }

    #color img{
        left: 0;
        right: 0;
        bottom: 0;
        top: unset;
        width: 130px;
        margin: auto;
    }
}
@media (max-width: 480px) and (min-width: 376px)
{
    body{
        overflow-x: hidden;
    }

    #logo{
        margin: 135px auto;
        width: 100px;
    }

    .flames{
        width: 290px;
    }

    .container p {
        top: 45%;
        font-size: 20px;
    }

    #carousel, #carousel2, #carousel3, #carousel4, #carousel5, .categorie h2, #sous-text, #icon-handicap{
        margin-left: 20px;
    }

    #info__left{
        width: 55%;
    }

    .info{
        width: 100%;
        height: 103vh;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #info__right img{
        position: unset;
        margin: 0;
    }

    #info__label .label-warrior, #info__label .label-premium{
        top: 46%;
        right: 61%;
    }
    #info__label .label-nouveaute{
        right: 57%;
        top: 46%;
    }

    #info__label .label-collector{
        top: 46%;
        right: 58%;
    }

    .info__categorie, .info__qualite{
        top: 55%;
    }

    #arrow{
        align-self: baseline;
    }

    .moda-btn{
        left: 7px;
        bottom: 4%;
    }

    .moda-btn .switcher{
        width: 400px;
        height: 53px;
        display: inline-block;
        position: relative;
    }

    .moda-btn .switcher .check{
        width: 400px;
        height: 53px;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        outline: 0;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .moda-btn .switcher .btn{
        background: #31D6B1;
        width: 400px;
        height: 53px;
        border-radius: 43px;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    .moda-btn .switcher .btn:before, .moda-btn .switcher .btn:after {
        font-family: sans-serif;
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .moda-btn .switcher .btn:before {
        content: "Ajouté";
        right: 42%;
        font-size: 16px;
        opacity: 100;
        font-weight: bold;
        font-family: Circular, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .moda-btn .switcher .btn:after {
        content: "Ajouter";
        left: 42%;
        font-size: 16px;
        opacity: 0;
        font-weight: bold;
        font-family: Circular, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .moda-btn .rond{
        width: 48px;
        height: 45px;
        border-radius: 50%;
        background: url("../img/svg/check.svg") #FFFFFF no-repeat center;
        overflow: hidden;
        position: absolute;
        top: 4px;
        right: 2px;
        z-index: 1;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .moda-btn .check:checked + .btn{
        background-color: #F59E30;
    }
    .moda-btn .check:checked + .btn:before {
        opacity: 0;
    }

    .moda-btn .check:checked + .btn:after {
        opacity: 100;
    }
    .moda-btn .check:checked + .btn .rond {
        background: url("../img/svg/plus.svg") #FFFFFF no-repeat center;
        left: 4px;
    }

    #sous-text{
        margin-bottom: 40px;
    }

    #calendar{
        width: 315px;
        padding: 0;
    }

    #calendar img{
        padding-right: 0;
    }

    .player{
        width: 480px;
        height: 270px;
    }

    footer{
        height: 424px;
        flex-direction: column;
    }

    footer .btn-input{
        right: 5px;
    }

    .slump-inner img{
        margin: 0;
        width: 200px;
    }

    .clear{
        left: 0;
    }

    .mail{
        width: 310px;
    }

    .wrap-slump{
        margin: 0 auto;
    }

    .slump-content{
        overflow-y: scroll;
    }

    #form {
        height: 75vh;
        width: unset;
        float: none;
    }

    #color {
        height: 25vh;
        width: 100%;
        position: relative;
    }

    #color img{
        left: 0;
        right: 0;
        bottom: 0;
        top: unset;
        width: 161px;
        margin: auto;
        display: block;
    }
}